<header id="services">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Комерційні послуги кафедри з використанням IT-технологій</h1>
            <hr>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloribus sit velit quia a placeat, repellendus dignissimos eum blanditiis qui odio earum illum! Dolore officiis dignissimos, officia assumenda, vel culpa!</p>-->
            <a id="refPlan" href="#services" class="btn btn-primary btn-xl page-scroll sr-button">Послуги</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Наші послуги</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects" style="text-decoration:none">
                <h3 class="text-center"><i class="fa fa-globe" aria-hidden="true"></i>Web та мережі <span id="subButton" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects">
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки програмного забезпечення для роботи з Інтернетом</li>
                        <li>Послуги з розробки програмного забезпечення для веб-серверів</li>
                        <li>Послуги з розробки програмного забезпечення для редагування веб-сторінок</li>
                        <li>Послуги з розробки програмного забезпечення для створення форм і бланків</li>
                        <li>Послуги з розробки програмного забезпечення для відеоконференцій</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Інтернет-послуги</li>
                        <li>Послуги з розробки комунікаційного програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для роботи з віддаленим доступом</li>
                        <li>Послуги з розробки програмного забезпечення для проведення аукціонів</li>
                        <li>Послуги з розробки комунікаційного та мультимедійного програмного забезпечення</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги у сфері розвитку Інтернету</li>
                        <li>Послуги з підтримки користувачів</li>
                        <li>Послуги з розробки програмного забезпечення для створення шаблонів</li>
                        <li>Послуги з розробки програмного забезпечення для обміну інформацією</li>
                        <li>Послуги провайдерів</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Постачальники Інтернет-послуг</li>
                        <li>Постачальники послуг електронної пошти</li>
                        <li>Послуги з розробки веб-сайтів</li>
                        <li>Послуги з розробки програмного забезпечення для управління контентом</li>
                        <li>Послуги з розробки клієнтських застосунків для роботи в мережах Інтернет та Інтранет</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки застосунків для роботи з серверами через мережі Інтернет та Інтранет</li>
                        <li>Послуги у сфері комп’ютерних мереж</li>
                        <li>Послуги у сфері локальних мереж</li>
                        <li>Послуги у сфері глобальних мереж</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects2" style="text-decoration:none">
                <h3 class="text-center"><i class="fa fa-code"></i>Програмне забезпечення <span id="subButton2" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div id="subjects2" class="collapse collapsed">
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки програмного забезпечення для роботи з документами, графікою, зображеннями</li>
                        <li>Послуги з програмування та консультаційні послуги з питань програмного забезпечення</li>
                        <li>Послуги з розробки пакетів програмного забезпечення</li>
                        <li>Послуги з розробки системного та користувацького програмного забезпечення</li>
                        <li>Консультаційні послуги з питань комп’ютерного аудиту та комп’ютерного апаратного забезпечення</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки прикладного програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для підготовки податкової звітності</li>
                        <li>Послуги з розробки закупівельного програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для редагування музики чи звуку</li>
                        <li>Послуги з розробки галузевого програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для автоматизованих точок продажу</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки програмного забезпечення для керування виробничими процесами</li>
                        <li>Послуги з розробки програмного забезпечення для бібліотек</li>
                        <li>Послуги з розробки програмного забезпечення для контролю відповідності</li>
                        <li>Послуги з розробки медичного програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для управління інвестиціями</li>
                        <li>Послуги з розробки програмного забезпечення для адміністративно-господарського управління</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки програмного забезпечення для бухгалтерського обліку</li>
                        <li>Послуги з розробки освітнього програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для обробки транзакцій</li>
                        <li>Послуги з розробки програмного забезпечення для управління ліцензіями</li>
                        <li>Послуги з розробки програмного забезпечення для оптимізації операційних систем</li>
                        <li>Послуги з розробки програмного забезпечення для оптичного розпізнавання символів</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки програмного забезпечення для розпізнавання голосу</li>
                        <li>Послуги з розробки програмного забезпечення для креслення та малювання</li>
                        <li>Послуги з розробки програмного забезпечення для планування ресурсів підприємства</li>
                        <li>Послуги з розробки математичного чи прогнозувального програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для роботи з презентаціями</li>
                        <li>Послуги з розробки програмного забезпечення для редагування текстів</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки програмного забезпечення для сканерів</li>
                        <li>Послуги з розробки програмного забезпечення для автоматизованих систем проектування</li>
                        <li>Послуги з розробки графічного програмного забезпечення</li>
                        <li>Послуги з розробки програмного забезпечення для автоматизації виробництва</li>
                        <li>Послуги з розробки програмного забезпечення для роботи з діаграмами</li>
                        <li>Послуги з розробки програмного забезпечення для створення комп’ютерних ігор</li>
                        <li>Послуги з розробки мов та засобів програмування</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects3" style="text-decoration:none">
                <h3 class="text-center"><i class="fa fa-database" aria-hidden="true"></i>Робота з даними <span id="subButton3" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects3">
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги у сфері управління даними</li>
                        <li>Послуги з обробки даних</li>
                        <li>Послуги з перетворення даних</li>
                        <li>Послуги з пакетної обробки даних</li>
                        <li>Послуги зі введення даних</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги, пов’язані з базами даних</li>
                        <li>Послуги з підготовки даних</li>
                        <li>Послуги зі збирання та зіставлення даних</li>
                        <li>Послуги з аналізу даних</li>
                        <li>Послуги зі зберігання даних</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги зі стандартизації та класифікації контенту та даних</li>
                        <li>Послуги з розробки програмного забезпечення для захисту даних</li>
                        <li>Послуги з розробки програмного забезпечення для захисту файлів</li>
                        <li>Послуги з розробки програмного забезпечення для баз даних</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects4" style="text-decoration:none">
                <h3 class="text-center"><i class="fa fa-question-circle"></i>Консультаційні послуги <span id="subButton4" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects4">
                <div class="col-md-12">
                    <ul class="border">
                        <li>Консультаційні послуги з питань апаратного забезпечення</li>
                        <li>Консультаційні послуги з питань підбору апаратного забезпечення</li>
                        <li>Консультаційні послуги з питань аварійного відновлення апаратного забезпечення</li>
                        <li>Консультаційні послуги з питань планування розташування комп’ютерного обладнання</li>
                        <li>Консультаційні послуги з питань приймальних випробувань комп’ютерного апаратного забезпечення</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Консультаційні послуги з питань комп’ютерного аудиту та комп’ютерного апаратного забезпечення</li>
                        <li>Послуги з програмування та консультаційні послуги з питань програмного забезпечення</li>
                        <li>Послуги з розробки службового програмного забезпечення загального призначення</li>
                        <li>Консультаційні послуги з питань систем та з технічних питаннях</li>
                        <li>Консультаційні послуги з питань аналізу господарської діяльності</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги у сфері інформаційних технологій</li>
                        <li>Послуги з аналізу вимог до інформаційних технологій</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects5" style="text-decoration:none">
                <h3 class="text-center"><i class="fa fa-desktop"></i>Апаратне забезпечення <span id="subButton5" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects5">
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з планування впроваджування систем</li>
                        <li>Послуги з планування забезпечення якості систем</li>
                        <li>Послуги з оцінювання та аналізу ефективності забезпечення якості систем</li>
                        <li>Консультаційні послуги з питань інтеграції апаратного забезпечення</li>
                        <li>Послуги з тестування комп’ютерного обладнання</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з резервного копіювання та перетворення каталогів</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects6" style="text-decoration:none">
                <h3 class="text-center"><i class="fa fa-plane" aria-hidden="true"></i>Траснпортні технології <span id="subButton6" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects6">
                <div class="col-md-12">
                    <ul class="border">
                        <li>Послуги з розробки програмного забезпечення для автоматизованих систем управління польотами</li>
                        <li>Послуги з розробки програмного забезпечення для систем керування повітряним рухом</li>
                        <li>Послуги з розробки програмного забезпечення для наземних засобів забезпечення польотів та випробувань авіаційної техніки</li>
                        <li>Послуги з розробки програмного забезпечення для наземних засобів забезпечення польотів</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
