
<header id="student">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Спеціальність 121 «Інженерія програмного забезпечення»</h1>
            <hr>
            <p>Спеціальність дає можливість отримати одну з найбільш престижних професій IT-програміста, фахівці якої на сьогоднішній день є високооплачуваними і вкрай затребуваними</p>
            <a ng-click="toPlan()" class="btn btn-primary btn-xl page-scroll sr-button">Навчальний план</a>
        </div>
    </div>
</header>
<section class="bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">В процесі навчання Ви опануєте</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>● Програмування на сучасних алгоритмічних мовах</h3>
            </div>
            <div style="padding-top:10px" class=" col-md-3 col-sm-4 col-xs-6 text-center lang1">
                <a href="https://uk.wikipedia.org/wiki/C_Sharp" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/csharp.png" width="100" height="100" title="C#">
                </a>
                <h3><em>C#</em></h3>
            </div>
            <div style="padding-top:10px" class=" col-md-3 col-sm-4 col-xs-6 text-center lang2">
                <a href="https://uk.wikipedia.org/wiki/C%2B%2B" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/cplusplus.png" width="100" height="100" title="C++">
                </a>
                <h3><em>C++</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang3">
                <a href="https://uk.wikipedia.org/wiki/JavaScript" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/javascript.png" width="100" height="100" title="JavaScript">
                </a>
                <h3><em>JavaScript</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang4">
                <a href="https://uk.wikipedia.org/wiki/Java" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/java.png" width="100" height="100" title="Java">
                </a>
                <h3><em>Java</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang5">
                <a href="https://uk.wikipedia.org/wiki/PHP" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/php.png" width="100" height="100" title="PHP">
                </a>
                <h3><em>PHP</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang6">
                <a href="https://uk.wikipedia.org/wiki/Python" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/python.png" width="100" height="100" title="Python">
                </a>
                <h3><em>Python</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang7">
                <a href="https://uk.wikipedia.org/wiki/Ruby" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/ruby.png" width="100" height="100" title="Ruby">
                </a>
                <h3><em>Ruby</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang8">
                <a href="https://uk.wikipedia.org/wiki/R_(%D0%BC%D0%BE%D0%B2%D0%B0_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F)" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/r.png" width="100" height="100" title="R">
                </a>
                <h3><em>R</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang9">
                <a href="https://uk.wikipedia.org/wiki/Perl" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/perl.png" width="100" height="100" title="Perl">
                </a>
                <h3><em>Perl</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang10">
                <a href="https://uk.wikipedia.org/wiki/Scala" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/scala.png" width="100" height="100" title="Scala">
                </a>
                <h3><em>Scala</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang11">
                <a href="https://ru.wikipedia.org/wiki/ABAP/4" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/abap.png" width="100" height="100" title="ABAP">
                </a>
                <h3><em>ABAP</em></h3>
            </div>
            <div style="padding-top:10px" class="col-md-3 col-sm-4 col-xs-6 text-center lang12">
                <a href="https://uk.wikipedia.org/wiki/Go_(%D0%BC%D0%BE%D0%B2%D0%B0_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F)" target="_blank" class="sr-icons">
                    <img src="app/Assests/img/lang/go.png" width="100" height="100" title="Go">
                </a>
                <h3><em>Go</em></h3>
            </div>
            <div class="col-md-12">
                <h3>● <a ui-sref="student"><i class="fa fa-link" aria-hidden="true"></i>Спеціалізації</a></h3>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" id="plan">Навчальний план</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects" style="text-decoration:none">
                <h3 class="text-center">1.Нормативні навчальні дисципліни <span id="subButton" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects">
                <div class="col-md-12">
                    <ul class="border">
                        <li>1.Вступ до університетських студій <i class="fa fa-book"></i></li>
                        <li>2.Іноземна мова за професійним спрямуванням <i class="fa fa-book"></i></li>
                        <li>3.Основи математики <i class="fa fa-calculator"></i></li>
                        <li>4.Дискретна математика (з використанням інформаційних технологій) <i class="fa fa-calculator"></i></li>
                        <li>5.Основи програмування <i class="fa fa-laptop"></i></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>6.Вступ до об'єктно-орієнтованого програмування</li>
                        <li>7.Основи програмної інженерії</li>
                        <li>8.Об'єктно-орієнтоване конструювання програм</li>
                        <li>9.Прикладна математика</li>
                        <li>10.Теорія ймовірностей та математична статистика (з використанням інформаційних технологій)</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>11.Українська та зарубіжна культура</li>
                        <li>12.Науковий образ світу</li>
                        <li>13.SQL</li>
                        <li>14.Проектування баз даних</li>
                        <li>15.Основи екології</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>16.Архітектура та проектування програмного забезпечення</li>
                        <li>17.Аналіз вимог до програмного забезпечення</li>
                        <li>18.Філософія</li>
                        <li>19.Операційні системи</li>
                        <li>20.Менеджмент проектів програмного забезпечення</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>21.Веб-технології</li>
                        <li>22.Технологічна (виробнича) практика</li>
                        <li>23.Соціально-політичні студії</li>
                        <li>24.Вибрані розділи трудового права і основ підприємницької діяльності</li>
                        <li>25.Переддипломна (виробнича) практика</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects2" style="text-decoration:none">
                <h3 class="text-center">2.Дисципліни вибору факультету <span id="subButton2" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div id="subjects2" class="collapse collapsed">
                <div class="col-md-12">
                    <ul class="border">
                        <li>1.Архітектура комп’ютера <i class="fa fa-book"></i></li>
                        <li>2.Алгоритми і структури даних <i class="fa fa-book"></i></li>
                        <li>3.Комп’ютерні мережі та технології <i class="fa fa-calculator"></i></li>
                        <li>4.Обчислювальні методи <i class="fa fa-calculator"></i></li>
                        <li>5.Захист програм та даних <i class="fa fa-laptop"></i></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <ul class="border">
                        <li>6.Математичне моделювання процесів</li>
                        <li>7.Курсова робота</li>
                        <li>8.Спеціалізоване програмування автоматизованих систем</li>
                        <li>9.Якість програмного забезпечення та тестування</li>
                        <li>10.Додаткові розділи проектування програмного забезпечення</li>
                        <li>11.Дипломне проектування</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects3" style="text-decoration:none">
                <h3 class="text-center">3.Дисципліни вільного вибору студента <span id="subButton3" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div id="subjects3" class="collapse collapsed">
                <h3 class="text-center">3.1.Вибір за спеціалізацією</h3>
                <div class="container spec">
                    <h3 class="text-center">
                        Спеціалізація 1. "Програмно-інформаційні системи"
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>1.Комп’ютерна графіка та візуалізація <i class="fa fa-book"></i></li>
                            <li>2.Емпірична методи програмної інженерія <i class="fa fa-book"></i></li>
                            <li>3.Конструювання програмного забезпечення <i class="fa fa-calculator"></i></li>
                            <li>4.Основи розподілених обчислень та паралельного програмування <i class="fa fa-calculator"></i></li>
                            <li>5.Економіка IT компаній <i class="fa fa-laptop"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>6.Менеджмент командної розробки програмного забезпечення</li>
                            <li>7.Кросплатформне програмування</li>
                            <li>8.Хмарні технології</li>
                            <li>9.Програмування інтернет речей (IoT)</li>
                        </ul>
                    </div>
                </div>
                <div class="container spec">
                    <h3 class="text-center">
                        Спеціалізація 2. "Теорія інформаційних систем"
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>1.Мовні процесори <i class="fa fa-book"></i></li>
                            <li>2.Парадигми програмування <i class="fa fa-book"></i></li>
                            <li>3.Інформаційна безпека <i class="fa fa-calculator"></i></li>
                            <li>4.Українська мова (за професійним спрямуванням) <i class="fa fa-calculator"></i></li>
                            <li>5.Економіка програмного забезпечення <i class="fa fa-laptop"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>6.Вбудовані системи реального часу</li>
                            <li>7.Пакети прикладних програм</li>
                            <li>8.Інтерактивні системи</li>
                            <li>9.Формальні методи специфікації програм</li>
                        </ul>
                    </div>
                </div>
                <div class="container spec">
                    <h3 class="text-center">
                        Спеціалізація 3. "Програмування вбудованих і мобільних систем (ВМС)"
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>1.Програмування ВМС <i class="fa fa-book"></i></li>
                            <li>2.Операційні системи ВМС <i class="fa fa-book"></i></li>
                            <li>3.CASE - системи для програмування ВМС <i class="fa fa-calculator"></i></li>
                            <li>4.Системи автоматизованого проектування в галузі ВМС <i class="fa fa-calculator"></i></li>
                            <li>5.Схемотехніка ВМС (з елементами нізькорівневого програмування) <i class="fa fa-laptop"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>6.Програмування взаємодії ВМС з зовнішними пристроями</li>
                            <li>7.Спеціалізоване програмування ВМС</li>
                            <li>8.Моделювання програмно-апаратних систем</li>
                            <li>9.Алгоритми ідентифікації та розпізнавання</li>
                        </ul>
                    </div>
                </div>
                <div class="container spec">
                    <h3 class="text-center">
                        Спеціалізація 4. "Програмування комп'ютерних ігор"
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>1.Обчислювальна геометрія <i class="fa fa-book"></i></li>
                            <li>2.Математичні основи комп'ютерних ігор <i class="fa fa-book"></i></li>
                            <li>3.Комп’ютерне моделювання фізики природних явищ <i class="fa fa-calculator"></i></li>
                            <li>4.Комп'ютерна графіка <i class="fa fa-calculator"></i></li>
                            <li>5.Технології графічного дизайну <i class="fa fa-laptop"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>6.Програмування штучного інтелекту ігор</li>
                            <li>7.Програмування змішаної реальності</li>
                            <li>8.Архітектура комп'ютерних ігор і систем віртуальної реальності</li>
                            <li>9.Програмування багатокористувацьких ігор</li>
                        </ul>
                    </div>
                </div>
                <div class="container spec">
                    <h3 class="text-center">
                        Спеціалізація 5. "ERP програмування"
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>1.Основи ERP-систем <i class="fa fa-book"></i></li>
                            <li>2.Програмування ERP-систем <i class="fa fa-book"></i></li>
                            <li>3.Інтегрований проектний менеджмент ERP-систем <i class="fa fa-calculator"></i></li>
                            <li>4.Програмно-апаратний базис ERP-систем<i class="fa fa-calculator"></i></li>
                            <li>5.Інтеграція ERP систем <i class="fa fa-laptop"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>6.Програмні технології Big Data в ERP - системах</li>
                            <li>7.Економіка і маркетінг ERP- систем</li>
                            <li>8.Бізнес-аналітика ERP- систем</li>
                            <li>9.Розробка мультіплатформених рішень</li>
                        </ul>
                    </div>
                </div>
                <h3 class="text-center">3.2.Вибір з переліку (студент обирає 1 дисципліну з кожного переліку)</h3>
                <div class="container spec">
                    <h3 class="text-center">
                        Перелік № 1
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Розробка мультимедійних та ігрових систем</li>
                            <h4 class="text-center">або</h4>
                            <li>Моделювання інформаційних систем та бізнес систем</li>
                        </ul>
                    </div>
                </div>
                <div class="container spec">
                    <h3 class="text-center">
                        Перелік № 2
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Функціональне програмування</li>
                            <h4 class="text-center">або</h4>
                            <li>Основи зворотної розробки</li>
                        </ul>
                    </div>
                </div>
                <div class="container spec">
                    <h3 class="text-center">
                        Перелік № 3
                    </h3>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Програмування під мобільні платформи</li>
                            <h4 class="text-center">або</h4>
                            <li>Стандартизація програмного забезпечення</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
