<link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/Страница-1.css" media="screen">
<section class="u-clearfix u-image u-shading u-section-1" id="sec-cda8" style="padding:0px!important">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
            <div class="u-container-layout u-valign-middle">
                <h1 class="u-custom-font u-font-ubuntu u-text u-title u-text-1">НАШІ ДОСЯГНЕННЯ</h1>
                <h3 class="u-custom-font u-font-ubuntu u-text u-text-2">Нашу кафедру було утворено у 2014 році. Всі ці роки наш колектив працює не просто на підвищенням якості освітніх послуг але кожного року переробляє навість навчалні плани, щоб студент отримував саме ті знання, які необхідні в сучасній ІТ галузі.</h3>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-738d" style="padding:0px!important">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-15 u-image-1">
                    <div class="u-container-layout"></div>
                </div>
                <div class="u-container-style u-layout-cell u-palette-1-base u-size-23 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                        <h2 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-1">Ми були першими в Україні</h2>
                        <ul class="u-align-left u-text u-text-2">
                            <li>хто ввів на першому курсі вивчення мови програмування C# і о'єктно-орієнтоване програмування;</li>
                            <li>хто розробив повністю новий навчальний план та оновлену освітню програму навчання з використанням сучасних технологій, а саме виробництва програмного забезпечення і керування процесом розробки;</li>
                            <li>хто став залучати ІТ компанії до розроблення методик навчання, до побудови траєкторії та наповнення освітнього процесу;</li>
                            <li>хто запропонував та впровадив Всеукраїнський конкурс студентських наукових робіт природничих, технічних та комп'ютерних наук із спеціальності «121 Інженерія програмного забезпечення»</li>
                            <li>хто запропонував та впровадив Всеукраїнську олімпіаду з «Програмування і управління ІТ проектами»;</li>
                        </ul>
                    </div>
                </div>
                <div class="u-container-style u-hidden-xs u-image u-layout-cell u-right-cell u-size-22 u-image-2">
                    <div class="u-container-layout"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-3" id="sec-8337" style="padding:0px!important">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                <div class="u-size-15 u-size-60-md">
                    <div class="u-layout-row">
                        <div class="u-container-style u-expand-resize u-hidden-xs u-image u-layout-cell u-left-cell u-size-60 u-image-1">
                            <div class="u-container-layout"></div>
                        </div>
                    </div>
                </div>
                <div class="u-size-45 u-size-60-md">
                    <div class="u-layout-col">
                        <div class="u-size-40">
                            <div class="u-layout-row">
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-2">
                                    <div class="u-container-layout"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20">
                            <div class="u-layout-row">
                                <div class="u-container-style u-layout-cell u-palette-2-base u-size-31 u-layout-cell-3">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h2 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-1">Ми навчаємо студентів</h2>
                                        <ul class="u-align-left u-text u-text-palette-1-dark-3 u-text-2">
                                            <li>Програмувати на сучасних мовах із перших «двадцяток» найвідоміших рейтингів (Python, C#, Java, JavaScript, PHP, C++, Ruby, R, Perl, Scala, Go, ABAP, Matlab, Асемблер);</li>
                                            <li>Програмувати під мобільні пристрої (iOS, Android);</li>
                                            <li>Використовувати різні операційні системи (сімейства Linux, FreeBSD, Windows);</li>
                                            <li>Організовувати роботу комп'ютерних мереж, програмувати для Internet of EveryThing (IoE);</li>
                                            <li>Управляти базами даних;</li>
                                            <li>Моделювати системи і процеси;</li>
                                            <li>Організовувати роботу команди програмістів.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-29 u-image-3">
                                    <div class="u-container-layout"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="carousel_de91" class="u-carousel u-slide u-block-f0cf-1" data-u-ride="carousel" data-interval="5000" style="padding:0px!important">
    <ol class="u-absolute-hcenter u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-carousel-indicators u-block-f0cf-2">
        <li data-u-target="#carousel_de91" data-u-slide-to="0" class="u-grey-30"></li>
        <li data-u-target="#carousel_de91" class="u-grey-30" data-u-slide-to="1"></li>
        <li data-u-target="#carousel_de91" class="u-grey-30" data-u-slide-to="2"></li>
        <li data-u-target="#carousel_de91" class="u-grey-30" data-u-slide-to="3"></li>
        <li data-u-target="#carousel_de91" class="u-grey-30" data-u-slide-to="4"></li>
        <li data-u-target="#carousel_de91" class="u-grey-30" data-u-slide-to="5"></li>
    </ol>
    <div class="u-carousel-inner" role="listbox">
        <div class="u-carousel-item u-clearfix u-color-1-base u-active u-section-4-1" style="background-image: none">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-60 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                                <div class="u-container-layout" src=""></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">Наукові конференції</h2>
                                    <ul class="u-text u-text-2">
                                        <li>Міжнародна науково-практична конференція молодих вчених «Теоретичнi та прикладнi аспекти застосування iнформацiйних технологiй в галузi природничих наук»</li>
                                        <li>ІІІ Всеукраїнська науково-практична конференція молодих учених і студентів «Інформаційні технології в освіті, техніці та промисловості»</li>
                                        <li>ІІ Міжнародній конференції «MSTIoE 2017: East European Conference on Mathematical Foundations and Software Technology of Internet of Everything»</li>
                                        <li>XVIII Міжнародна конференція «Dynamical System Modeling and Stability Investigations»</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-carousel-item u-clearfix u-color-1-base u-section-4-2" style="">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-60 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                                <div class="u-container-layout" src=""></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">Всеукраїнські конкурси</h2>
                                    <ul class="u-text u-text-2">
                                        <li>Перемога. Бражененко Максим Генадійович Диплом II-го ступеня. Всеукраїнський конкурс студентських наукових робіт із Інформатики, обчислювальної техніки та автоматизації</li>
                                        <li>Перемога. Кінзерський Денис Сергійович Диплом II-го ступеня Всеукраїнський конкурс студентських наукових робіт із Інформатики, обчислювальної техніки та автоматизації</li>
                                        <li>Перемога. Мирошников Сергій Олексійович Диплом I-го ступеня. Всеукраїнський конкурс студентських наукових робіт природничих, технічних та комп'ютерних наук з групи спеціальностей «Інформатика і кібернетика»</li>
                                        <li>Перемога. Карнацький Дмитро Олегович Диплом I-го ступеня. Всеукраїнський конкурс студентських наукових робіт природничих, технічних та комп'ютерних наук з групи спеціальностей «Інформатика і кібернетика»</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-carousel-item u-clearfix u-color-1-base u-section-4-3" style="">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-60 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                                <div class="u-container-layout" src=""></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">Олімпіади</h2>
                                    <p class="u-text u-text-2">
                                        Команда студентів у складі: Лоза Владислав Дмитрович, Трофименко Маргарита Олександрівна, Антонюк Олександр Миколайович, Мирошников Сергій Олексійович, Карнацький Дмитро Олегович зайняла перше місце та отримала
                                        Гран-прі у Першій Всеукраїнській студентській олімпіаді з «Програмування та управління ІТ проектами»
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-carousel-item u-clearfix u-color-1-base u-section-4-4" style="">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-60 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                                <div class="u-container-layout" src=""></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">Проекти</h2>
                                    <ul class="u-text u-text-2">
                                        <li>Студенти 2-го Ільїн М.В., Слободянюк А.П. беруть участь у проекті «Розроблення та побудова навчальної лабораторії в середовищі Linux».</li>
                                        <li>
                                            Студенти 2,3,4-го курсу Бражененко М.Г., Кінзерський Д.С., Птушкін С.Д., Паламарчук Є.А., Ващук І.А., Ляшуга М.В., Самойленко О.А., Педаш Ю.В., Бойченко Н.В., Климко В.В., Козачок П.А., Зозуля І.С., Соколенко
                                            П.Ю., Ларченко Ю.С., Приступа О.І. беруть участь у проекті «Математичні та програмні технології Інтернету всього».
                                        </li>
                                        <li>Студенти 4-го курсу Антонюк О.М., Савчин Д.Ю. беруть участь у проекті «Розроблення інформаційно-аналітичної системи для виявлення плагіату».</li>
                                        <li>Студенти 3-го курсу Лоза В., Трофименко М. беруть участь у проекті «Розроблення математичної та комп’ютерної моделі розвитку інфаркту міокарда»</li>
                                        <li>Студенти 3-го курсу Карнацький Д.О., Мирошников С.О. беруть участь у проекті «Створення системи імітаційного мого моделювання руху крові по судинах»</li>
                                        <li>Студенти 2-го курсу Рожок М.І., Дяченко І.О. беруть участь у закритому проекті на замовлення Міністерства оборони України.</li>
                                        <li>Студенти 2,3-го курсу Табунов А.А., Коваленко Р.Б., Бражененко М.Г., Кінзерський Д.С., Карнацький Д.О., Мирошников С.О. беруть участь у проекті «Розроблення інформаційно-аналітичної системи Електронні вибори»</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-carousel-item u-clearfix u-color-1-base u-section-4-5" style="">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-60 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                                <div class="u-container-layout" src=""></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">Співробітництво</h2>
                                    <ul class="u-text u-text-2">
                                        <li>Підписано Договори про постачання техніки із ІТ компаніями: Epam, GlobalLogic, LuxSoft.</li>
                                        <li>З компанією GlobalLogic проводяться роботи із створення навчально-продуктової лабраторії</li>
                                        <li>З компанією GlobalLogic проводяться робти з вдосконалення навчального процесу.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-carousel-item u-clearfix u-color-1-base u-section-4-6" style="">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-60 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                                <div class="u-container-layout" src=""></div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">Викладачі<br></h2>
                                    <ul class="u-text u-text-2">
                                        <li>Підготовка студентів до участі у Всеукраїнських конкурсах студентських наукових робіт</li>
                                        <li>Підготовка студентів до участі у олімпіадахКерівництво науковою роботою студентів</li>
                                        <li>Бичков О.С. отримав Подяку МОН України.</li>
                                        <li>Участь у виставці «Зроблено в Києві».</li>
                                        <li>
                                            Супрун О.М, Поперешняк С.В., Поляков С.А., Шевченко В.Л., Бичков О.С. отримали грамоти Київського національного університету імені Тараса Шевченка за успішне проведення Першої Всеукраїнської студентської олімпіади
                                            з «Програмування та управління ІТ проектами».
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-f0cf-3" href="#carousel_de91" role="button" data-u-slide="prev">
        <span aria-hidden="true">
            <svg viewBox="0 0 477.175 477.175">
                <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path>
            </svg>
        </span>
        <span class="sr-only">Previous</span>
    </a><a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-f0cf-4" href="#carousel_de91" role="button" data-u-slide="next">
        <span aria-hidden="true">
            <svg viewBox="0 0 477.175 477.175">
                <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path>
            </svg>
        </span>
        <span class="sr-only">Next</span>
    </a>
</section>
