<header id="students">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Спеціальність 121 «Інженерія програмного забезпечення»</h1>
            <hr>
            <p>Спеціальність дає можливість отримати одну з найбільш престижних професій IT-програміста, фахівці якої на сьогоднішній день є високооплачуваними і вкрай затребуваними</p>
            <a ng-click="toPlan()" class="btn btn-primary btn-xl page-scroll sr-button">Спеціалізації</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" id="plan">Спеціалізації</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects" style="text-decoration:none">
                <h3 class="text-center">Програмно-інформаційні системи <span id="subButton" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects">
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Студенти отримають знання з</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Основ алгоритмізації й програмування</li>
                            <li>Об’єктно-орієнтованого й функціонального програмування </li>
                            <li>Технологій розроблення програмного забезпечення </li>
                            <li>Проектування програмного забезпечення </li>
                            <li>Програмування операційних систем і системного програмування </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Кросплатформеного програмування</li>
                            <li>Веб програмування</li>
                            <li>Проектування й програмування баз даних</li>
                            <li>Управління ІТ проектами й командами розробників</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Це дозволить</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Розробляти будь-які додатки для комп’ютерів, серверів, мобільних пристроїв</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Що треба знати</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Математику</li>
                            <li>Основи програмування</li>
                            <li>Об’єктно-орієнтоване програмування</li>
                            <li>Архітектуру ЕОМ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Дисципліни, які треба вивчити</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Комп’ютерна графіка та візуалізація</li>
                            <li>Емпірична методи програмної інженерія</li>
                            <li>Конструювання програмного забезпечення</li>
                            <li>Основи розподілених обчислень та паралельного програмування</li>
                            <li>Економіка IT компаній</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Менеджмент командної розробки програмного забезпечення</li>
                            <li>Кросплатформене програмування</li>
                            <li>Хмарні технології</li>
                            <li>Програмування інтернет речей (IoT)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects2" style="text-decoration:none">
                <h3 class="text-center">Теорія інформаційних систем <span id="subButton2" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects2">
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Студенти отримають знання з</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Формальних мов програмування</li>
                            <li>З використання парадигм програмування </li>
                            <li>Міетодів збору й оброблення інформації </li>
                            <li>Специфікацій програмного забезпечення </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Це дозволить</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Використовувати отримані знання в будь-якій галузі господарства</li>
                            <li>займатися теорією програмного забезпечення</li>
                            <li>розробляти нові парадигми програмування</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Що треба знати</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Математику</li>
                            <li>Основи програмування</li>
                            <li>Об’єктно-орієнтоване програмування</li>
                            <li>Архітектуру ЕОМ</li>
                            <li>Специфікацію програмного забезпечення</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Дисципліни, які треба вивчити</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Мовні процесори</li>
                            <li>Парадигми програмування</li>
                            <li>Інформаційна безпека</li>
                            <li>Українська мова (за професійним спрямуванням)</li>
                            <li>Економіка програмного забезпечення</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Вбудовані системи реального часу</li>
                            <li>Пакети прикладних програм</li>
                            <li>Інтерактивні системи</li>
                            <li>Формальні методи специфікації програм</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects5" style="text-decoration:none">
                <h3 class="text-center">ERP програмування <span id="subButton5" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects5">
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Студенти отримають знання з</span>
                </div>

                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Основ алгоритмізації й програмування</li>
                            <li>Методів структурної й функціональної організації автоматизованих систем управління підприємством (Enterprise Resource Planning, ERP-систем) </li>
                            <li>Типової структури ERP-систем (управління фінансами. кадрами, кар’єрою, споживачами, ресурсами, логістикою, нерухомістю, бізнес-аналітикою) </li>
                            <li>Основних галузей застосування (банкі, підпріємства, комерція, виробництво, технологічні процеси, освіта, силові відомства, медицина, транспорт, спорт, сфера розваг тощо) </li>
                            <li>Функціонування та раціонального конфігурування апаратного базису ERP-систем</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Технологій розроблення програмного забезпечення, особливостей мов програмування та особливостей використання вбудованих налаштувань ERP-систем</li>
                            <li>Архітектури мікроконтролерів і їх програмування для вбудованих та мобільних додатків ERP-систем </li>
                            <li>Програмування операційних систем і системного програмування ERP-систем </li>
                            <li>Методів прогнозування надійності апаратних і програмних засобів ERP-систем</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Це дозволить</span>
                </div>

                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Виконувати функції консультанта ERP-систем (програмування на вбудованих алгоритмічних мовах та раціональне виконання вбудованих налаштувань)</li>
                            <li>Проектувати структуру ERP-систем, виходячи з потреб замовника та існуючих ресурсних обмежень</li>
                            <li>Адмініструвати ERP-системи на всіх рівнях (апаратний, програмно-системний та нормативний в частині керування ліцензіями та захисту інтересів фахівців програмного профілю)</li>
                            <li>Інтегрувати ERP-системи з існуючими автономними програмними системами</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Проектувати, ставити завдання та програмувати задачі щодо бізнес-аналітики на базі ERP-систем</li>
                            <li>Проектувати та реалізовувати інтерфейси користувачів ERP-систем у відповідності до постановки задачі</li>
                            <li>Організовувати роботу, виконувати налаштування та розробляти необхідні додаткові програмні продукти щодо забезпеченн необхідног рівню інформаційної безпеки</li>
                            <li>Организовувати та виконувати контроль якості ERP-систем, що розробляються</li>
                            <li>Використовувати вбудовані системи управління проектом розробки ERP-систем, в тому числі CASE-системи</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Що треба знати</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Математику</li>
                            <li>Основи програмування</li>
                            <li>Основи побудови комп’ютерів</li>
                            <li>Англійську мову (дуже бажано)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Дисципліни, які треба вивчити</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Основи ERP-систем</li>
                            <li>Програмування ERP-систем</li>
                            <li>Інтегрований проектний менеджмент ERP-систем</li>
                            <li>Програмно-апаратний базис ERP-систем</li>
                            <li>Інтеграція ERP систем та ІоТ</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Програмні технології Big Data в ERP - системах</li>
                            <li>Економіка і маркетінг ERP- систем</li>
                            <li>Бізнес-аналітика ERP- систем</li>
                            <li>Розробка мультіплатформених рішень</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects4" style="text-decoration:none">
                <h3 class="text-center">Програмування комп'ютерних ігор <span id="subButton4" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects4">
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Студенти отримають знання з</span>
                </div>

                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Основ алгоритмізації й програмування</li>
                            <li>Методів структурної й функціональної організації апаратно-програмних електронних систем і комплексів </li>
                            <li>Функціонування цифрових і мікропроцесорних обладнань </li>
                            <li>Технологій розроблення програмного забезпечення мобільних електронних систем і Інтернет-Додатків </li>
                            <li>Мов програмування вбудованих мікропроцесорних систем</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Архітектури мікроконтролерів і їх програмування для мобільних електронних систем і комплексів</li>
                            <li>Програмування операційних систем і системного програмування </li>
                            <li>Методів прогнозування надійності апаратних і програмних засобів мобільних електронних систем </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Це дозволить</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Створювати будь-які Smart додатки для IoT (інтернет речей)</li>
                            <li>Програмувати й тестувати мікропроцесорну техніку й/або комп'ютери, що вбудовується в програмно-апаратні комплекси (системи) для розв’язання конкретних функціональних завдань (smart побутова техніка, роботи, беспілотні транспортні засоби, автоматизація виробництва тощо)</li>
                            <li>Програмувати й тестувати мобільне обладнання й системи</li>
                            <li>Програмувати й тестувати програмне забезпечення вбудованих та мобільних систем</li>
                            <li>Забезпечувати за допомогою програмних методів можливість мобільного застосування апаратно-програмних комплексів і систем при їхній експлуатації</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Проектувати мобільні додатки</li>    
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Що треба знати</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Математику</li>
                            <li>Основи програмування</li>
                            <li>Архітектуру ЕОМ</li>
                            <li>Комп'ютерні мережі</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Дисципліни, які треба вивчити</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Обчислювальна геометрія</li>
                            <li>Математичні основи комп'ютерних ігор</li>
                            <li>Комп’ютерне моделювання фізики природних явищ</li>
                            <li>Комп'ютерна графіка</li>
                            <li>Технології графічного дизайну</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Програмування штучного інтелекту ігор</li>
                            <li>Програмування змішаної реальності</li>
                            <li>Архітектура комп'ютерних ігор і систем віртуальної реальності</li>
                            <li>Програмування багатокористувацьких ігор</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row">
            <a class="collapseRef" data-toggle="collapse" data-target="#subjects6" style="text-decoration:none">
                <h3 class="text-center">Програмування вбудованих і мобільних систем (ВМС) <span id="subButton6" class="pull-right rotate-wise glyphicon glyphicon-chevron-down"></span></h3>
            </a>
            <div class="collapse collapsed" id="subjects6">
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Студенти отримають знання з</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Основ алгоритмізації й програмування</li>
                            <li>Структурної й функціональної організації програмно-апаратних електронних систем і комплексів </li>
                            <li>Функціонування цифрового (мікропроцесорного) обладнання </li>
                            <li>Технологій розроблення програмного забезпечення мобільних електронних систем і Інтернет-Додатків </li>
                            <li>Мов програмування вбудованих мікропроцесорних систем</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Архітектури мікроконтролерів і їх програмування для мобільних електронних систем і комплексів</li>
                            <li>Програмування операційних систем і системного програмування </li>
                            <li>Методів прогнозування надійності апаратних і програмних засобів мобільних електронних систем </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Основні галузі практичного використання, історію та перспективи розвитку ВМС</li>
                            <li>Особливості розробки кросплатформеного забезпечення ВМС </li>
                            <li>Особливості апаратної реалізації, інтерфейси та периферійні пристрої, окремі аспекти сумісності виробів різних виробників при роботи в великих програмно-апаратних комплексах </li>
                            <li>Особливості сучасних мікроконтролерів та сумісних з ними елементів, систем на чипі та можливості інтеграції вбудованих систем в великі комплекси, зокрема в межах інтернету речей</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Це дозволить</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Створювати будь-які Smart додатки для IoT (інтернет речей) та для автономних систем автоматичного управління, побутових пристриїв, роботів</li>
                            <li>програмувати й тестувати мікропроцесорну техніку й/або комп'ютери, що вбудовується в програмно-апаратні комплекси (системи) для розв’язання конкретних функціональних завдань (smart побутова техніка, роботи, беспілотні транспортні засоби, автоматизація виробництва тощо)</li>
                            <li>Програмувати й тестувати мобільне обладнання й системи</li>
                            <li>Програмувати й тестувати програмне забезпечення вбудованих та мобільних систем</li>
                            <li>Забезпечувати за допомогою програмних методів можливість мобільного застосування апаратно-програмних комплексів і систем при їхній експлуатації</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Проектувати мобільні додатки</li>   
                            <li>Використовувати CASE-системи для розробки вбудованих та мобільних систем</li>
                            <li>Створювати script-розширення існуючих алгоритмічних мов для спрощення розробки та підтримки експлуатації програмного забезпечення вбудованих та мобільних систем</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Що треба знати</span>
                </div>
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Математику</li>
                            <li>Основи програмування</li>
                            <li>Основи побудови комп’ютерів</li>
                            <li>Англійську мову (дуже бажано)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <span style="font-weight: bold; font-size: medium">Дисципліни, які треба вивчити</span>
                </div> 
                <div class="col-md-12" style="padding:10px 15px 15px 10px">
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Програмування ВМС і ІоТ</li>
                            <li>Операційні системи ВМС</li>
                            <li>CASE - системи для програмування ВМС</li>
                            <li>Системи автоматизованого проектування в галузі ВМС</li>
                            <li>Схемотехніка ВМС (з елементами нізькорівневого програмування)</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="border">
                            <li>Програмування взаємодії ВМС з зовнішними пристроями</li>
                            <li>Спеціалізоване програмування ВМС та ІоТ</li>
                            <li>Моделювання програмно-апаратних систем</li>
                            <li>Алгоритми ідентифікації та розпізнавання в ІоТ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
